<%- include('include/_header') %>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"> < All Users</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Update Player</h2>
            <span class="text-light">Use the bellow form to update new player</span>
        </div>

        <form action="/api/users?id=<%= players._id%>" method="POST" id="update_user">
            <div class="new_user">

                <div class="form-group">
                    <label for="steam_id" class="text-light">SteamID</label>
                    <input type="hidden" name="id" value="<%= players._id%>">
                    <input type="text" id="steam_id" name="steam_id" value="<%= players.steamID%>" placeholder="Steam ID">
                </div>

                <div class="form-group">
                    <label for="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id='radio-m' name="gender" value="Male" <%= players.gender === 'Male' ? 'checked' : '' %> >
                        <label for="radio-m" id="gender" class="radio-label">Male</label>
                    </div>

                    <div class="radio inline">
                        <input type="radio" id='radio-f' name="gender" value="Female" <%= players.gender === 'Female' ? 'checked' : '' %>>
                        <label for="radio-f" class="radio-label">Female</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="rank" class="text-light">Rank</label>
                    <input type="text" name="rank" id="rank" value="<%= players.rank%>" placeholder="Rank">
                </div>

                <div class="form-group">
                    <label for="weapon" class="text-light">Favourite Weapon</label>
                    <input type="text" name="weapon" id="weapon" value="<%= players.weapon %>" placeholder="Favourite Weapon">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark">Update player</button>
                </div>

            </div>
        </form>

    </div>
</main>
<script>
    document.querySelector("#update_user > div > div:nth-child(5) > button").addEventListener('click', () => {
        document.getElementById("update_user").submit()
        alert('Data updated!')
    })
</script>
<%- include('include/_footer') %>