<% for(let i = 0; i < players.length; i++) {%>
<tr>
    <td><%= players[i]._id %></td>
    <td><%= players[i].steamID %></td>
    <td><%= players[i].gender %></td>
    <td><%= players[i].rank %></td>
    <td><%= players[i].weapon %></td>
    <td>
        <a href="/update-user?id=<%= players[i]._id%>" class="btn border-shadow update">!</a>
        <a href="/delete-user" class="btn border-shadow delete">x</a>
    </td>
</tr>
<% } %>